@import '../../App.scss';

.categories {
    width: 100%;
    height: max-content;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 10px;
    flex-direction: row;    

    &::-webkit-scrollbar {
        display: none;
    }

    @include mobile {
        gap: 10px;
    }

    .cat {
        width: max-content;
        padding: 10px;
        border-radius: 25px;
        @include sb;
        gap: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover,
        .active {            
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
            transition: 0.3s ease;
        }

        @include mobile {
            padding: 5px 10px;
        }

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }

        span {
            font-size: 15px;
        }
    }
}