@import '../../App.scss';

.chapter {
    width: 100%;
    height: max-content;
    padding: 10px 40px;
    @include fc;
    gap: 20px;

    .top {
        width: 100%;
        @include sb;

        h1 {
            width: 100%;
            text-align: start;
            font-size: 25px;
        }

        Button {
            width: 250px;
        }
    }

    .chpatercontent {
        width: 100%;
        @include fr;
        gap: 10px;
    }

    .videoncon {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;

        .chapterselect {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
        }

        .videouplaod {
            width: 100%;
            height: 100%;
            @include fc;
            gap: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 10px;

            .top {
                width: 100%;
                @include sb;
                padding: 0 10px;

                h1 {
                    font-size: 15px;
                }

                .uploadurl {
                    width: 350px;
                    
                    span{
                        cursor: pointer;
                    }

                    .inputvideourl {
                        @include fr;
                        width: 350px;
                        gap: 10px;

                        input {
                            padding: 8px;
                            border-radius: 5px;
                            width: 300px;

                            &:focus {
                                outline: #9813aa;
                            }
                        }

                        button {
                            width: max-content;
                            padding: 8px 10px;
                        }
                    }
                }


            }



            .videos {
                width: 100%;
                height: 100%;
                @include center;
                background-color: black;
                overflow: hidden;
            }

        }
    }
}