@import '../../App.scss';

.chapter {
    width: 100%;
    height: max-content;
    padding: 10px 40px;
    @include fc;
    gap: 20px;

    .top {
        width: 100%;
        @include sb;

        h1 {
            width: 100%;
            text-align: start;
            font-size: 25px;
        }

        Button{
            width: 250px;
        }
    }

    .chpatercontent {
        width: 100%;
        @include fr;
        gap: 10px;
    }

    .vidoncon {
        width: 100%;
        height: 300px;
        background-color: black;
    }
}