@import '../../App.scss';

.modalcontainer {
    display: none;
}

.opencon {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    @include center;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;

    .modal {
        width: 450px;
        max-height: 80vh;      
        @include sb;  
        flex-direction: column;        
        background-color: white;
        border-radius: 10px;
        position: absolute;
        transition: 0.5s ease-in-out;

        @include mobile {
            width: 90%;
        }

        .closemodal {
            left: -40%;
            transition: 0.5s ease-in-out;
        }

        .top {
            width: 100%;
            @include fc;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);            
            gap: 5px;
            padding: 10px;

            h1 {
                text-transform: capitalize;
                font-size: 25px;
            }

            p {
                font-size: 15px;
                color: rgba(0, 0, 0, 0.5);
            }

            .close {
                position: absolute;
                right: 0;
                top: 10px;
                margin-right: 10px;
                cursor: pointer;
                @include center;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                color: black;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    transition: 0.5s ease;
                }
            }
        }

        .content {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: start;
            justify-content: start;
            padding: 10px;
            flex-direction: column;
            gap: 10px;
            overflow-y: scroll;            

            &::-webkit-scrollbar {
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                display: none;
            }
        }

    }


}