.inputbox {
    position: relative;
    width: 100%;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        outline: none;
        background-color: transparent;
        color: black;
        font-size: 1em;
        transition: 0.5s;
    }

    span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        transition: 0.5s;
    }

    .error {
        width: 100%;
        color: red;
        text-align: center;
        margin-top: 5px;
    }
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: #c64fea;
    transform: translateX(10px) translateY(-3px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: white;
}

.inputbox input:valid,
.inputbox input:focus {
    border: 2px solid #c64fea;
}