* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(#040318, #040318);
}

li {
    list-style: none;
}

.homelayout {
    background: white;
    max-width: 1366px;
    height: 100vh;



    .sblayout {
        display: flex;
        width: 100%;

        .maincontent {
            width: 100%;
        }
    }
}


// MEDIA QUERIES

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 1025px) and (max-width:1200px) {
        @content;
    }
}