* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#040318, #040318);
}

li {
    list-style: none;
}


// MEDIA QUERIES

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: 1025px) and (max-width:1200px) {
        @content;
    }
}