* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(92.23deg, #1f0c44 100%, #040318 117.04%);
}