@import '../../App.scss';

.search {

    @include mobile {
        display: none;
    }
}

.searchbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

    @include mobile {}
}