@import '../../App.scss';

.cards {
  width: 100%;
  @include fc;
  gap: 30px;


  .lpcards {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding: 20px;

    @include mobile {
      padding: 10px;
    }    
  }


  .cardtitle {
    padding: 10px;

    @include mobile {
      font-size: 25px;
      text-align: center;
    }
  }
}