@import '../../App.scss';

.collabc {
    width: 100%;
    height: max-content;
    @include fc;
    gap: 20px;
    flex-direction: column;

    .cnames {
        @include fr;
        gap: 10px;

        @include mobile {
            flex-direction: column;
        }

        span,
        p {
            color: rgba(255, 255, 255, 0.6);
        }

        .active {
            border-bottom: 1px solid white;
            color: white;
            transition: 0.5s ease-in-out;
        }
    }

    .images {
        width: 100%;
        padding: 20px 40px;
        @include center;

        div {
            @include fr;
            gap: 50px;

            @include mobile {
                flex-direction: column;
                gap: 10px;
            }

            img {
                width: 200px;
                height: 100px;
                object-fit: contain;

                @include tablet {
                    width: 100px;
                    height: 100px;
                }
            }
        }

    }
}