@import '../../../App.scss';

.profileitem {
    width: 100%;
    padding: 10px;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
        
}