@import '../../App.scss';

.btn,
.transparent,
.search,
.common {
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    cursor: pointer;

    @include mobile {
        padding: 10px;
    }

    &:hover {

        .btnicon {
            transform: translateX(5px);
            transition: transform 0.5s;
        }
    }

    .btnicon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
    }
}

.btn {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(#412b7f, #1d113f);

    &:hover {
        background: linear-gradient(#412b7f, #9813aa);

        .btnicon {
            transform: translateX(5px);
            transition: transform 0.5s;
        }
    }

}

.transparent {
    border: none;
    background-color: transparent;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: 0.5s ease;
    }
}

.searchbtn {
    @include sb;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: transparent;
    padding: 8px 15px;
    gap: 20px;

    &:hover {        
        border: none;
        transition: 0.5s ease;        
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    }
}