@import '../../font.scss';

.landingpage {
    // width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    font-family: "Resist Sans Text Thin";
    overflow-x: hidden;
}