@import '../../App.scss';

.sidebaritem {
    width: 100%;
    height: 70px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: inherit;
    text-decoration: none;

    &:hover {
        background-color: #412b7f15;

        .itemicon,
        span {
            color: #8667fd;
        }
    }

    &.active {
        background-color: #412b7f15;
        border-right: 4px solid black;

        .itemicon,
        span {
            color: #8667fd;
        }
    }

    .itemicon {
        font-size: 25px;
    }

    span {
        font-size: 20px;
    }
}

.complete {
    color: #208337 !important;
    background-color: #4df510b4 !important;    
}

.completespan {
    color: #208337 !important;
}

