@import '../../App.scss';

.home {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: start;
    justify-self: start;
    flex-direction: column;
    padding: 10px;
    overflow: hidden !important;
    gap: 10px;    
    
    .cardcon {
        width: 100%;
        height: max-content;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;        

        &::-webkit-scrollbar {
            display: none;
        }

        .cards {
            width: 100%;
            height: max-content;            
            display: flex;
            flex-flow: wrap row;
            gap: 10px;
            padding: 20px;            

            @include mobile {
                padding: 0;
            }
        }

        .pagination {
            width: 100%;
            @include center;
            gap: 10px;
        }
    }
}