@import '../../App.scss';

.home {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: start;
    justify-self: start;
    flex-direction: column;
    padding: 10px;
    overflow: hidden !important;
    gap: 10px;

    .cardcon {
        width: 100%;
        height: max-content;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        // &::-webkit-scrollbar {
        //     display: none;
        // }

        .cards {
            width: 100%;
            height: max-content;
            // overflow: scroll;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 30px;
            padding: 20px;

            @include mobile {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }

        }

        .pagination {
            width: 100%;
            @include center;
            gap: 10px;
        }
    }
}

