@import '../../App.scss';

.navbar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @include sb;
    padding: 20px 40px;
    position: relative;

    @include mobile {
        padding: 10px;
    }

    .navright {
        @include center;
        gap: 20px;
    }

}