@import '../../App.scss';

.chapter {
    width: 100%;
    height: max-content;
    padding: 10px;
    @include fc;
    @include overflowy;
    gap: 10px;
    position: relative;

    .video {
        min-width: 1000px;
        height: 500px;
        background-color: black;
        @include center;
        margin-top: 30px;

        @include mobile {
            margin-top: 50px
        }

        .videolock {
            @include fc;
            color: white;
            gap: 10px;
        }

        .player {
            height: 700px;
            width: 1000px;

            @include mobile {
                width: 300px !important;
                height: 300px !important;
            }
        }
    }

    .content {
        width: 100%;
        @include fc;
        gap: 10px;
        padding: 10px 30px;
        text-transform: capitalize;

        @include mobile {
            padding: 10px;
        }

        .top {
            width: 100%;
            @include sb;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px;

            @include mobile {
                font-size: 10px;
                padding: 10px 0;
                @include fc;
                gap: 10px;
            }
        }

        p {
            width: 100%;
            text-align: start;
        }
    }

    .banner {
        @include fr;
        gap: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: rgba(255, 255, 0, 0.5);

        @include mobile {}
    }

}

.visa {
    width: 300px;
    height: 300px;
}