@import '../../App.scss';

.lphome {
    width: 100%;
    height: calc(100vh - 80px);
    @include fc;
    gap: 20px;
    margin-top: 80px;
    position: relative;

    .btm {
        @include fr;
        gap: 15px;

        @include mobile {
            gap: 5;
        }


    }

    .desc {
        width: 40%;
        text-align: center;

        @include mobile {
            width: 90%;
        }

        @include tablet {
            width: 90%;
        }
    }

    .glow {
        position: absolute;
        width: 200px;
        height: 200px;
        background: linear-gradient(to bottom, #c151e9 50%, #26104d 50%);
        filter: blur(120px);
        bottom: 0;
        z-index: -1;
    }
}