.progress-bar-container {
    width: 100%;        
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 10px;
    background-color: blue;         
  }
  
  