@import '../../../App.scss';

.regform {
    width: 100%;
    height: max-content;
    @include fc;
    gap: 10px;
    padding: 10px 20px;

    .select {
        @include fr;
        gap: 20px;
        width: 100%;
        
        .cbox{
            @include fr;
            gap: 5px;
        }
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 12px;
        color: blue;
        cursor: pointer;
        width: 100%;
        text-align: end;
    }

    .gg {
        width: 100%;
        @include center;
        padding: 20px;
    }

    .route {
        font-size: 12px;

        span {
            color: blue;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}