@import '../../App.scss';

.logo {
    cursor: pointer;
    @include fr;
    gap: 10px;

    &:hover {
        opacity: 0.6;
    }

    img {
        width: 40px;
        height: 40px;
        object-fit: contain;

        @include mobile {
            width: 25px;
            height: 25px;
        }
    }

    span {
        font-size: 20px;
        font-weight: 900;
        background: linear-gradient(#412b7f, #9813aa);
        -webkit-background-clip: text;
        color: transparent;        

        @include mobile {
            font-size: 15px;
        }
    }

}